body {
    margin: 0;
    padding: 25px;
}

.container-one {
    width: 100%;
    border: 10px solid blue;
    padding: 10px;
    box-sizing: border-box;
}

.square-one {
    height: 150px ;
    width: 50px;
    background-color: brown;
    display: inline-block;
}

.square-two {
    height: 200px;
    width: 750px;
    background-color: crimson;
    display: inline-block;
    margin: 0 50px;
}

.circle-one {
    height: 200px;
    width: 200px;
    background-color: darkslateblue;
    display: inline-block;
    border-radius: 50%;
}

.container-two {
    width: 100%;
    border: 10px dotted black;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 30px;
}

.box-shadow {
    margin: 25px 50px;
    height: 200px;
    width: fit-content;
    background-color: cadetblue;
    box-shadow: darkblue 10px 10px;
}

.container-three {
    margin: 25px auto;
    box-shadow: tomato 10px 10px 3px 5px;
    width: 50%;
    border: 1px solid darkgrey;
    background-color: white;
    box-sizing: border-box;
    padding: 100px;
}

.container-three h1 {
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}